streamlit
pandas
numpy<=2.2.6
openai
seaborn
pydotplus
scikit-learn
lime
shap
yellowbrick
adversarial-robustness-toolbox
torch
sentence-transformers
ollama
ydata-profiling
joblib
matplotlib
ipython
torchvision
python-dotenv
typing
IProgress
